################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ImportMongoDB/ImportMongoDB/bin/Debug/netcoreapp2.0
/ImportMongoDB/ImportMongoDB/obj/Debug/netcoreapp2.0
